{% extends 'base.html' %} {% block content %}

<header>
  <img
    class="capa"
    src="/static/img/series/fallout.png"
    alt=""
    width="5rem"
  />
  <div class="fade-overlay"></div>
  <div class="card bg-transparent" style="width: 40%">
    <div class="card-body">
      <img
        class="card-title ps-3"
        src="/static/img/series/falloutName.png"
        alt=""
        width="50%"
      />
      <div
        class="card-subtitle mt-4 ps-3 d-flex gap-3 align-items-center flex-wrap"
      >
        <h6>1 temporada</h6>
        <button class="btn">
          <img src="/static/img/icons/addIcon.svg" alt="" width="20rem" />
          <span class="btn-txt">Add to Watchlist</span>
        </button>
      </div>

      <img
        class="mt-3 ps-3"
        src="/static/img/icons/starsIcon.svg"
        alt=""
        width="150rem"
      />

      <div class="mt-3 ps-3 d-flex gap-3">
        <div class="btn-genre">
          <span>Action</span>
        </div>
        <div class="btn-genre">
          <span>Drama</span>
        </div>
      </div>
      <p class="card-text ps-3 mt-3">
        In a future, post-apocalyptic Los Angeles brought about by nuclear decimation, citizens must live in underground bunkers to protect themselves from radiation, mutants and bandits.
      </p>
      <h6 class="ps-3">Available on:</h6>
      <div class="mt-3 ps-3 d-flex gap-4 align-items-center">
        <img src="/static/img/icons/amazonIcon.svg" alt="" />
      </div>
    </div>
  </div>
</header>

<main class="container-fluid p-0 d-flex flex-column gap-2">
  <section class="mt-3" style="padding: 0rem 3rem">
    <h2>Genre</h2>
    <div class="mt-3 grid">
      <div class="card-genre">
        <img src="/static/img/series/station19.png" alt="" />
        <span>Drama</span>
      </div>
      <div class="card-genre">
        <img src="/static/img/series/moonknight.png" alt="" />
        <span>Action</span>
      </div>
      <div class="card-genre">
        <img src="/static/img/series/modern.png" alt="" />
        <span>Comedy</span>
      </div>
      <div class="card-genre">
        <img src="/static/img/series/themist.png" alt="" />
        <span>Horror</span>
      </div>
      <div class="card-genre">
        <img src="/static/img/series/true.png" alt="" />
        <span>Romance</span>
      </div>
    </div>
  </section>

  <hr />

  <section class="mt-3" style="padding: 0rem 3rem">
    <h2>Upcoming</h2>
    <div class="mt-3 grid">
      <div class="cards">
        <img src="/static/img/series/bridgerton.png" alt="" />
        <h6 class="mt-2">Bridgerton</h6>
        <div class="cards-info">
          <span>May, 15</span>
          <div class="btn-genre">
            <span>Romance</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/acolyte.png" alt="" />
        <h6 class="mt-2">Star Wars: Acolyte</h6>
        <div class="cards-info">
          <span>June, 4</span>
          <div class="btn-genre">
            <span>Action</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/goodbye.png" alt="" />
        <h6 class="mt-2">Goodbye, Earth</h6>
        <div class="cards-info">
          <span>Apr, 25</span>
          <div class="btn-genre">
            <span>Action</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/penguin.png" alt="" />
        <h6 class="mt-2">The Penguin</h6>
        <div class="cards-info">
          <span>October</span>
          <div class="btn-genre">
            <span>Action</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/arcane.png" alt="" />
        <h6 class="mt-2">Arcane Season 2</h6>
        <div class="cards-info">
          <span>November, 1</span>
          <div class="btn-genre">
            <span>Action</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="mt-3" style="padding: 0rem 3rem">
    <h2>Trending Now</h2>
    <div class="mt-3 grid">
      <div class="cards">
        <img src="/static/img/series/shogun.png" alt="" />
        <h6 class="mt-2">Shogun</h6>
        <div class="cards-info">
          <span>Netlix</span>
          <div class="btn-genre">
            <span>Action</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/avatar.png" alt="" />
        <h6 class="mt-2">The Last Airbender</h6>
        <div class="cards-info">
          <span>Netflix</span>
          <div class="btn-genre">
            <span>Action</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/sympathizer.png" alt="" />
        <h6 class="mt-2">The Sympathizer</h6>
        <div class="cards-info">
          <span>HBO Max+</span>
          <div class="btn-genre">
            <span>Drama</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/3body.png" alt="" />
        <h6 class="mt-2">3 Body Problem</h6>
        <div class="cards-info">
          <span>Netflix</span>
          <div class="btn-genre">
            <span>Thriller</span>
          </div>
        </div>
      </div>
      <div class="cards">
        <img src="/static/img/series/masters.png" alt="" />
        <h6 class="mt-2">Masters of Air</h6>
        <div class="cards-info">
          <span>TV+</span>
          <div class="btn-genre">
            <span>Drama</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
