<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
  <link rel="text/css" href="{{ url_for('static', filename='css/normalize.css')}}" />
  <title>Watcher</title>
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="navbar">
    <div class="container-fluid" style="padding: 0rem 3rem">
      <a class="navbar-brand" href="/">Watcher</a>
      <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center align-items-center flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/series">Series</a>
          </li>
        </ul>
        <div class="d-flex gap-2">
          <a class="nav-link" href="/watchlist"><img src="/static/img/icons/heartIcon.svg" alt="" /></a>
          {% if session['loggedin'] %}
            <a class="nav-link" href="/profile"><img src="/static/img/icons/userIcon.svg" alt="" /></a>
          {% else %}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/static/img/icons/userIcon.svg" alt="" />
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end me-3">
              <form class="d-flex flex-column align-items-center" method="POST" action="{{ url_for('login') }}">
                <h2>Sign In</h2>
                <input type="email" name="Email" id="email" placeholder="Email" required>
                <input type="password" name="Password" id="password" placeholder="Password" required>
                <span>Forgot your password?</span>
                <input type="submit" value="Log In" id="btnLogin">
                <span>Don't have account? <a href="signUp">Sign Up!</a></span>
            </form>
            </ul>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>


  {% block content %} {% endblock %}

  <hr />
  <footer>
    <p class="text-center opacity-50">© 2024 - Watcher - All rights reserved</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {

        document.getElementById("navbar").style.background = "#00010F";
      } else {

        document.getElementById("navbar").style.background = "none";
      }
    }
  </script>
</body>

</html>