{% extends 'base.html' %} {% block content %}
<main class="container-fluid d-flex flex-column align-items-center justify-content-center" style="height: 85vh; ">
    <h2 id="profile-title">My Profile</h2>

    <form class="profile" action="{{ url_for('edit') }}" method="POST">
        <div class="input-item">
            <label for="name">Name</label>
            <input type="text" name="Name" id="name" placeholder="Full Name" value="{{profile[1]}}">
        </div>
        <div class="input-item">
            <label for="email">Email</label>
            <input type="email" name="Email" id="email" placeholder="Email" value="{{profile[2]}}">
        </div>
        <div class="input-item">
            <label for="password">Password</label>
            <input type="password" name="Password" id="password" placeholder="Password" value="{{profile[3]}}">
        </div>

        <input type="submit" value="Edit" id="Edit">
    </form>

    <form action="{{ url_for('logout') }}" method="POST">
        <input type="submit" id="Logout" value="Logout">
    </form>

    {% if msg %}
      <span style="color:white">{{ msg }}</span>
    {% endif %}

</main>
{% endblock %}