{% extends 'base.html' %} {% block content %} 
    <main class="container-fluid d-flex align-items-center justify-content-center" style="height: 85vh; ">
        <form class="d-flex flex-column align-items-center" method="POST" action="{{ url_for('login') }}">
            <h2>Sign In</h2>
            <input type="email" name="Email" id="email" placeholder="Email" required>
            <input type="password" name="Password" id="password" placeholder="Password" required>
            <span>Forgot your password?</span>
            <input type="submit" value="Log In" id="btnLogin">
            <div class="d-flex align-items-center gap-2">
                <hr> or <hr>
            </div>
            <input type="button" value="Log In with Google">
            <input type="button" value="Log In with Facebook">
            <span>Don't have account? <a href="signUp">Sign Up!</a></span>
            <h6>{{ msg }}</h2>
        </form>
    </main>
{% endblock %}